.buttonsType {
  width: 1000px;
  margin-top: 200px;
  margin-left: 300px;
}
.caja-pokemon{
display:inline-block;
}

.display_none {
    display: none;
}

.display_block {
    display: block;
}
.hidden {
    display:none;
}

.show {
  display:block;
}
